::selection {
    background-color: #fc5372;
}
body {
    background-color: #333333;
}
h1 {
    color: #ffff00;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
a {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #aaffaa;
    margin: 4px;
    text-decoration: none;
}
div {
    width: 200px;
    height: 50px;
    background-color: #aaffaa;
    display: block;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    vertical-align: middle;
    line-height: 50px;
}
div:hover {
    background-color: #ffff00;
}
input {
    width: 90%;
    font-family: "Roboto", sans-serif;
}
